/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700");

/* Set up CSS variables for a modern theme. */
:root {
  --light-color: #ffffff;
  --dark-color: #333333;
  --matr-navbar-bg: var(--light-color);
  --matr-navbar-bg-rgb: 255, 255, 255;
}

/* Set Bootstrap variable values and base font styling. */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Landing header styling */
.landing-header {
  height: 80lvh;
  font-family: 'Open Sans', sans-serif;
}

/* Button min-width class for login/sign up buttons */
.btn-minwidth {
  min-width: 200px;
}

/* Header title styling */
.kala-title {
  font-size: 32px;
  font-weight: 600;
}

/* Carousel image styling */
.carousel-image {
  max-height: 140px;
  object-fit: contain;
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light,
#signup-page .alert-light {
  --bs-alert-bg: var(--light-color);
}

/* Define custom styles */
.navbar {
  background-color: var(--matr-navbar-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: var(--matr-navbar-bg);
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.gray-background {
  background-color: #f7f7f7;
  color: var(--dark-color);
  padding-top: 10px;
  padding-bottom: 20px;
}

.blue-background {
  background-color: #628fca;
  color: var(--light-color);
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-description {
  color: var(--dark-color);
  font-size: 1.05rem;
  margin-top: 0.5rem;
}

p, h1, h2, h3, h4, h5 , button, .navbar, .footer, .text-field, .card-description {
  font-family: 'Open Sans', sans-serif;
}

.custom-dropdown-panel {
  background-color: #333a5f;
  color: #f1f1f1;
  padding: 1.5rem;
  border-radius: 0.5rem;
}